.home-main {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.home-line
{
    height:5px;
    width: 390px;
    background-color:black;
    margin-top:15px;
}