.sidebar-main {
  --sidebar-main-width: 0%;
  --sidebar-menu-width: 300px;
  --sidebar-menu-background-color: #ffffff;
  --sidebar-menu-backdrop-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 100;
  left: auto;
  --sm-list-icon-item-width: 50px;
  --sm-list-item-background-color: rgba(0, 0, 0, 0.01);
  --sm-list-item-color: #000000;
  --sm-list-item-background-hover-color: rgba(0, 0, 0, 0.9);
  --sm-list-item-hover-color: #ffffff;
  --sm-list-item-background-focus-color: var(--theme-bg);
  --sm-list-item-focus-color: #ffffff;
  --sm-submenu-background-color: rgba(0, 0, 0, 0.05);
  --sm-submenu-color: #000000;
  --sm-submenu-background-hover-color: rgba(0, 0, 0, 0.9);
  --sm-submenu-hover-color: #ffffff;
  --sm-submenu-background-focus-color: var(--theme-bg);
  --sm-submenu-focus-color: #ffffff;
  --sm-submenu-a-text-indent: 0rem;
  --menu-toggler-background-color: var(--grey-a);
  --menu-toggler-color: var(--lightgrey);
  --menu-toggler-background-hover-color: var(--grey-a);
  --menu-toggler-hover-color: var(--theme-bg);
  --menu-toggler-background-focus-color: var(--theme-bg);
  --menu-toggler-focus-color: var(--white);
}
.sidebar-main.sm-open {
  --sidebar-main-width: var(--desk-col-width);
}
.sidebar-main.sm-open .sm-inner {
  left: 0;
}
.sidebar-main.sm-open .sm-backdrop {
  opacity: 1;
}
.sidebar-main,
.sidebar-main .sm-backdrop {
  position: fixed;
  top: 0;
  width: var(--sidebar-main-width);
  height: 100vh;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.02);
}
.sidebar-main .sm-backdrop {
  opacity: 0;
  background-color: var(--sidebar-menu-backdrop-color);
}
.sidebar-main .sm-menu-h1 {
  margin: 0;
  font-weight: 300;
  font-size: 1.5rem;
}
.sidebar-main .sm-inner {
  left: -100vw;
  position: relative;
  width: var(--sidebar-menu-width);
  height: 100vh;
  overflow-y: auto;
  background-color: var(--sidebar-menu-background-color);
}
.sidebar-main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-main .sm-list .icon-item {
  width: var(--sm-list-icon-item-width);
  max-width: var(--sm-list-icon-item-width);
}
.sidebar-main .sm-list > li a {
  display: block;
  background-color: var(--sm-list-item-background-color);
  color: var(--sm-list-item-color);
}
.sidebar-main .sm-list > li a:hover {
  background-color: var(--sm-list-item-background-hover-color);
  color: var(--sm-list-item-hover-color);
}
.sidebar-main .sm-list > li a:focus {
  background-color: var(--sm-list-item-background-focus-color);
  color: var(--sm-list-item-focus-color);
}
.sidebar-main .sm-list > li a.active,
.sidebar-main .sm-list > li a.active:hover,
.sidebar-main .sm-list > li a.active:focus {
  background-color: var(--sm-list-item-background-focus-color);
  color: var(--sm-list-item-focus-color);
}
.sidebar-main .sub-menu .sub-menu-container > ul > li {
  height: 0;
  overflow: hidden;
}
.sidebar-main .sub-menu .sub-menu-container > ul > li a {
  padding: 0.5rem 0;
  display: block;
  position: relative;
  bottom: 100%;
  text-indent: var(--sm-submenu-a-text-indent);
}
.sidebar-main .sub-menu .sub-menu-container > ul > li a {
  background-color: var(--sm-submenu-background-color);
  color: var(--sm-submenu-color);
}
.sidebar-main .sub-menu .sub-menu-container > ul > li a:hover {
  background-color: var(--sm-submenu-background-hover-color);
  color: var(--sm-submenu-hover-color);
}
.sidebar-main .sub-menu .sub-menu-container > ul > li a:focus {
  background-color: var(--sm-submenu-background-focus-color);
  color: var(--sm-submenu-focus-color);
}
.sidebar-main .sub-menu .sub-menu-container > ul > li a.active,
.sidebar-main .sub-menu .sub-menu-container > ul > li a.active:hover,
.sidebar-main .sub-menu .sub-menu-container > ul > li a.active:focus {
  background-color: var(--sm-submenu-background-focus-color);
  color: var(--sm-submenu-focus-color);
}
.sidebar-main li.sub-menu:not(.open) .icon-item .on {
  display: none;
}
.sidebar-main li.sub-menu.open .icon-item .off {
  display: none;
}
.sidebar-main li.sub-menu.open {
  --sm-submenu-a-text-indent: 1.5rem;
}
.sidebar-main li.sub-menu.open .sub-menu-container > ul > li {
  height: auto;
}
.sidebar-main li.sub-menu.open .sub-menu-container > ul > li a {
  bottom: 0;
}
.sidebar-main .menu-toggler {
  display: block;
  background-color: var(--menu-toggler-background-color);
  color: var(--menu-toggler-color);
}
.sidebar-main .menu-toggler:hover {
  background-color: var(--menu-toggler-background-hover-color);
  color: var(--menu-toggler-hover-color);
}
.sidebar-main .menu-toggler:focus {
  background-color: var(--menu-toggler-background-focus-color);
  color: var(--menu-toggler-focus-color);
}
@media (max-width: 300px) {
  .sidebar-main {
    --sidebar-menu-width: 100%;
  }
}
