

.profile_review_component_rating_heading {
    
    /* border: 1px solid red; */
    font-size: 15px;
    width: 110px;
    margin-bottom: 20px;
}

.profile_review_component {
    margin-left: 20px;
    margin-top: 10px;
}

