

.createpassword_main_container{
    margin: 0 auto;
    width: 550px;
}

.createpassword_image_container{
    height:320px;
    background: url("./../asset/signup-page-2.jpg");
    margin-top: 3px;
    background-size: cover;
    background-repeat: no-repeat;
}

.button_oval_style_submit_createpwd{
    background-color:#E50F32;
    color:white;
    border: 1px;
    border-radius:35px/25px;
    width: 75px;
    height: 30px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-bottom: 2px;
    margin-top: 70px;
}

.createpwd_table_container {
    width: 70%;
    margin-top: 70px;
    margin-left: 65px;
    /* margin: 20px 0; */
    /* border: 1px solid red; */
}



