.error_header_container {
    margin: 0 auto;
    width: 100%;
    margin-top: 15px;
    /* border: 1px solid red; */
}

.label_header_h1 {
    font-size: 25px;
    color: red;
    align-content: center;
    justify-content: center;
    display: flex;
}

.label_header_h2{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}