.fijoli_main-container {
    /* margin: 0 auto; */
    width: 100%;
    height: auto;
    margin-top: 15px;
}

.post-message{
    width: 50px;
    height: 15px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    background: red;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px 0;
}

.play-icons {
    display: flex;
    justify-content: center;
}


.post_icon {
    margin-left:-9px; 
    margin-top:-3px;
    width: 90px;
    height: 90px; 
    border-radius: 50px;
    border: 1px solid black;
}

.fijoli_skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading{
    0%{
        background-color: hsl(200, 20%, 70%);
    }

    100%{
        background-color: hsl(200, 20%, 95%);
    }
}
